$primary-color: #ff5733;
$secondary-color: #33ff57;
$dark-color: rgb(1, 2, 22);
$dark-color-1: rgb(19, 20, 39);
$light-color: rgb(232, 233, 255);

$sm: 576px;
$md: 678px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;