// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
// @import './base.css'; 
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
}

$br-md: 768px;

$slate-color: blue;



/* .alert {
  @apply bg-red-500 w-16 #{!important};
} */

/* Chrome, Safari, Edge, Opera */
.remove-arrow::-webkit-outer-spin-button,
.remove-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Use wrapper instead of container
.wrapper-con{
  width: 80%;
  margin-left: 10%;
}
@media(max-width: $br-md) {
  .wrapper-con{
    width: 90%;
    margin-left: 5%;
  }
}


/* Firefox */
.remove-arrow {
  -moz-appearance: textfield;
}

.shadow-primary{
  // box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
}
.grediant-1{
  background: (circle, rgba(34,32,74,1) 0%, rgba(27,26,55,1) 50%, rgba(26,25,48,1) 100%);
}


.img-wrap::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3);
  animation: pulse 0.45s infinite;
}
.img-wrap{
  // bg-no-repeat bg-center bg-cover
  position: relative;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;

  img{
    opacity: 0;
  }
}
.img-loaded::before{
  content: none;
  animation: none;
}
.img-loaded > img{
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

// body{
//   background: url(/img/bg.jpg);
//   width: 50%;
//   background-position: center;
//   background-repeat: repeat;
//   background-size: cover;
// }

.body-wrapper {


    // Create elements

  // container-type: inline-size;
  // container-name: body;
  .right-img-bg {
    // background: linear-gradient(to top, blue 70%, transparent 30%);
    height: 40rem;
    width: 34rem;
  }


  .feature-card {
    min-height: 16rem;
  }

  // .achievements-area{
  //   height: 27rem;
  // }

  @media (min-width: 678px){
    .achievements-area{
      height: 27rem;
    }
  }

  .my-works{
  //   .img-wrap::before{
  //     content: "";
  //     position: absolute;
  //     inset: 0;
  //     animation: pulse 2.5s infinite;
  //     background-color: rgba(255, 255, 255, 0.3);
  // }
  
  }

  .Project{
    height: 70vh;
    .preview-img{
      height: 32rem;
    }
  }

  dialog::backdrop {
    background: rgba(209, 213, 219, 0.678);
  }

  .section-6{
    .test-preview{
      height: 25rem;
    }
  }

  @media(max-width: $br-md) {
    .right-img-bg {
      height: 34rem;
      width: 100%;
    }
    .section-6{
      .test-preview{
        height: fit-content;
      }
    }
  }

  .feature-card {
    min-height: 20rem;
  }

}

@keyframes pulse{
  0%{
    background: rgba(255, 255, 255, 0);
  }
  50%{
    background: rgba(255, 255, 255, 0.4);
  }
  100%{
    background: rgba(255, 255, 255, 0);
  }
}

// @container body(max-width: $br-md) {
//   .right-img-bg{
//     height: 20rem;
//   }
// }
/* If the container is larger than 700px */





/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Optional: Add rounded corners */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Optional: Add rounded corners */
    border: 3px solid #f1f1f1; /* Optional: Add padding inside thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change color when hovering */
}

/* Firefox scrollbar styles */
* {
    scrollbar-width: thin; /* Make scrollbar thinner */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}
