// Define reusable variables for spacing and positions
$g1-right-desktop: 8.5%;
$g1-right-mobile: 1%;

$g2-right-desktop: 37%;
$g2-left-mobile: 1%;

// Desktop styles
.hero-wrapper {

}

.achievement-wrapper{
  
}