$primary-color: #ff5733;
$secondary-color: #33ff57;
$dark-color: rgb(1, 2, 22);
$light-color: rgb(232, 233, 255);

*{
    padding: 0;
    margin: 0;
}


// @import '~bootstrap/scss/bootstrap';

#preloader {
    background: black;
}

.loading-text {
    background: linear-gradient(90deg, #000, #fff, #000);
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}



// Utilities
.bg-dark{
    background: $dark-color;
}
.text-light{
    color: $light-color;
}

.w-full{
    width: 100%;
}
.container{
    width: 80%;
    margin-left: 10%;
}
.navbar{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-side{
        display: flex;
        justify-content: center;
        .icon-holder{
            border: 1px rgba(255, 255, 255, 0.445) solid;
            margin-right: 0.5rem;
            padding: 0.2rem 0.5rem;
            border-radius: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .menu{
            border: 1px rgba(255, 255, 255, 0.445) solid;
            border-radius: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            li{
                padding: 0.2rem 0.5rem;
                margin-right: 0.5rem;
                border-radius: 3rem;
                &:first-child{
                    margin-left: 0.5rem;
                    background-color: rgba(255, 255, 255, 0.178);
                }
            }
        }
    }
}
.border{
    border-color: rgba(255, 255, 255, 0.404) !important;
}
.group-list{
    // bg-transparent border-0 p-0 ps-2 text-light 

}